## Data analysis

- Read data
- Drop missing values
- Save dataframe to excel
- Basic analysis of dataframe
- Replace values
- Search for missing Data
- Calculate the mean of a column
- Count the values in column
- Reset index
- Convert data type of a column
- Binning
- Dummy variables
- Grouping data
- Correlation

### Read data

In [2]:
import pandas as pd
link = "https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DA0101EN/auto.csv"
df = pd.read_csv(link, header=None)

In [3]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [4]:
headers = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]
df.columns=headers
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

### Drop missing values

In [5]:
df.dropna(subset=["price"], axis=0).head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

### Save dataframe to excel (csv)

In [6]:
df.to_csv("example.csv", index=False)

### Basic analysis of Dataframe

In [7]:
df.dtypes.head()

symboling             int64
normalized-losses    object
make                 object
fuel-type            object
aspiration           object
dtype: object

In [8]:
df.describe()

,symboling,wheel-base,length,width,height,curb-weight,engine-size,compression-ratio,city-mpg,highway-mpg
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,0.834146,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,10.142537,25.219512,30.751220
std,1.245307,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,3.972040,6.542142,6.886443
min,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,7.000000,13.000000,16.000000
25%,0.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,8.600000,19.000000,25.000000
50%,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,9.000000,24.000000,30.000000
75%,2.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,9.400000,30.000000,34.000000
max,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,23.000000,49.000000,54.000000

In [9]:
df.info # result is long

<bound method DataFrame.info of      symboling normalized-losses         make fuel-type aspiration  \
0            3                 ?  alfa-romero       gas        std
1            3                 ?  alfa-romero       gas        std
2            1                 ?  alfa-romero       gas        std
3            2               164         audi       gas        std
4            2               164         audi       gas        std
5            2                 ?         audi       gas        std
6            1               158         audi       gas        std
7            1                 ?         audi       gas        std
8            1               158         audi       gas      turbo
9            0                 ?         audi       gas      turbo
10           2               192          bmw       gas        std
11           0               192          bmw       gas        std
12           0               188          bmw       gas        std
13           0               188          bmw       gas        std
14           1                 ?          bmw       gas        std
15           0                 ?          bmw       gas        std
16           0                 ?          bmw       gas        std
17           0                 ?          bmw       gas        std
18           2               121    chevrolet       gas        std
19           1                98    chevrolet       gas        std
20           0                81    chevrolet       gas        std
21           1               118        dodge       gas        std
22           1               118        dodge       gas        std
23           1               118        dodge       gas      turbo
24           1               148        dodge       gas        std
25           1               148        dodge       gas        std
26           1               148        dodge       gas        std
27           1               148        dodge       gas      turbo
28          -1               110        dodge       gas        std
29           3               145        dodge       gas      turbo
..         ...               ...          ...       ...        ...
175         -1                65       toyota       gas        std
176         -1                65       toyota       gas        std
177         -1                65       toyota       gas        std
178          3               197       toyota       gas        std
179          3               197       toyota       gas        std
180         -1                90       toyota       gas        std
181         -1                 ?       toyota       gas        std
182          2               122   volkswagen    diesel        std
183          2               122   volkswagen       gas        std
184          2                94   volkswagen    diesel        std
185          2                94   volkswagen       gas        std
186          2                94   volkswagen       gas        std
187          2                94   volkswagen    diesel      turbo
188          2                94   volkswagen       gas        std
189          3                 ?   volkswagen       gas        std
190          3               256   volkswagen       gas        std
191          0                 ?   volkswagen       gas        std
192          0                 ?   volkswagen    diesel      turbo
193          0                 ?   volkswagen       gas        std
194         -2               103        volvo       gas        std
195         -1                74        volvo       gas        std
196         -2               103        volvo       gas        std
197         -1                74        volvo       gas        std
198         -2               103        volvo       gas      turbo
199         -1                74        volvo       gas      turbo
200         -1                95        volvo       gas        std
201         -1                95        volvo       gas      turbo
202         -1                95        volvo       gas        std
203         -1                95        volvo    diesel      turbo
204         -1                95        volvo       gas      turbo

    num-of-doors   body-style drive-wheels engine-location  wheel-base  ...  \
0            two  convertible          rwd           front        88.6  ...
1            two  convertible          rwd           front        88.6  ...
2            two    hatchback          rwd           front        94.5  ...
3           four        sedan          fwd           front        99.8  ...
4           four        sedan          4wd           front        99.4  ...
5            two        sedan          fwd           front        99.8  ...
6           four        sedan          fwd           front       105.8  ...
7           four        wagon          fwd           front       105.8  ...
8           four        sedan          fwd           front       105.8  ...
9            two    hatchback          4wd           front        99.5  ...
10           two        sedan          rwd           front       101.2  ...
11          four        sedan          rwd           front       101.2  ...
12           two        sedan          rwd           front       101.2  ...
13          four        sedan          rwd           front       101.2  ...
14          four        sedan          rwd           front       103.5  ...
15          four        sedan          rwd           front       103.5  ...
16           two        sedan          rwd           front       103.5  ...
17          four        sedan          rwd           front       110.0  ...
18           two    hatchback          fwd           front        88.4  ...
19           two    hatchback          fwd           front        94.5  ...
20          four        sedan          fwd           front        94.5  ...
21           two    hatchback          fwd           front        93.7  ...
22           two    hatchback          fwd           front        93.7  ...
23           two    hatchback          fwd           front        93.7  ...
24          four    hatchback          fwd           front        93.7  ...
25          four        sedan          fwd           front        93.7  ...
26          four        sedan          fwd           front        93.7  ...
27             ?        sedan          fwd           front        93.7  ...
28          four        wagon          fwd           front       103.3  ...
29           two    hatchback          fwd           front        95.9  ...
..           ...          ...          ...             ...         ...  ...
175         four    hatchback          fwd           front       102.4  ...
176         four        sedan          fwd           front       102.4  ...
177         four    hatchback          fwd           front       102.4  ...
178          two    hatchback          rwd           front       102.9  ...
179          two    hatchback          rwd           front       102.9  ...
180         four        sedan          rwd           front       104.5  ...
181         four        wagon          rwd           front       104.5  ...
182          two        sedan          fwd           front        97.3  ...
183          two        sedan          fwd           front        97.3  ...
184         four        sedan          fwd           front        97.3  ...
185         four        sedan          fwd           front        97.3  ...
186         four        sedan          fwd           front        97.3  ...
187         four        sedan          fwd           front        97.3  ...
188         four        sedan          fwd           front        97.3  ...
189          two  convertible          fwd           front        94.5  ...
190          two    hatchback          fwd           front        94.5  ...
191         four        sedan          fwd           front       100.4  ...
192         four        sedan          fwd           front       100.4  ...
193         four        wagon          fwd           front       100.4  ...
194         four        sedan          rwd           front       104.3  ...
195         four        wagon          rwd           front       104.3  ...
196         four        sedan          rwd           front       104.3  ...
197         four        wagon          rwd           front       104.3  ...
198         four        sedan          rwd           front       104.3  ...
199         four        wagon          rwd           front       104.3  ...
200         four        sedan          rwd           front       109.1  ...
201         four        sedan          rwd           front       109.1  ...
202         four        sedan          rwd           front       109.1  ...
203         four        sedan          rwd           front       109.1  ...
204         four        sedan          rwd           front       109.1  ...

     engine-size  fuel-system  bore  stroke compression-ratio horsepower  \
0            130         mpfi  3.47    2.68              9.00        111
1            130         mpfi  3.47    2.68              9.00        111
2            152         mpfi  2.68    3.47              9.00        154
3            109         mpfi  3.19    3.40             10.00        102
4            136         mpfi  3.19    3.40              8.00        115
5            136         mpfi  3.19    3.40              8.50        110
6            136         mpfi  3.19    3.40              8.50        110
7            136         mpfi  3.19    3.40              8.50        110
8            131         mpfi  3.13    3.40              8.30        140
9            131         mpfi  3.13    3.40              7.00        160
10           108         mpfi  3.50    2.80              8.80        101
11           108         mpfi  3.50    2.80              8.80        101
12           164         mpfi  3.31    3.19              9.00        121
13           164         mpfi  3.31    3.19              9.00        121
14           164         mpfi  3.31    3.19              9.00        121
15           209         mpfi  3.62    3.39              8.00        182
16           209         mpfi  3.62    3.39              8.00        182
17           209         mpfi  3.62    3.39              8.00        182
18            61         2bbl  2.91    3.03              9.50         48
19            90         2bbl  3.03    3.11              9.60         70
20            90         2bbl  3.03    3.11              9.60         70
21            90         2bbl  2.97    3.23              9.41         68
22            90         2bbl  2.97    3.23              9.40         68
23            98         mpfi  3.03    3.39              7.60        102
24            90         2bbl  2.97    3.23              9.40         68
25            90         2bbl  2.97    3.23              9.40         68
26            90         2bbl  2.97    3.23              9.40         68
27            98         mpfi  3.03    3.39              7.60        102
28           122         2bbl  3.34    3.46              8.50         88
29           156          mfi  3.60    3.90              7.00        145
..           ...          ...   ...     ...               ...        ...
175          122         mpfi  3.31    3.54              8.70         92
176          122         mpfi  3.31    3.54              8.70         92
177          122         mpfi  3.31    3.54              8.70         92
178          171         mpfi  3.27    3.35              9.30        161
179          171         mpfi  3.27    3.35              9.30        161
180          171         mpfi  3.27    3.35              9.20        156
181          161         mpfi  3.27    3.35              9.20        156
182           97          idi  3.01    3.40             23.00         52
183          109         mpfi  3.19    3.40              9.00         85
184           97          idi  3.01    3.40             23.00         52
185          109         mpfi  3.19    3.40              9.00         85
186          109         mpfi  3.19    3.40              9.00         85
187           97          idi  3.01    3.40             23.00         68
188          109         mpfi  3.19    3.40             10.00        100
189          109         mpfi  3.19    3.40              8.50         90
190          109         mpfi  3.19    3.40              8.50         90
191          136         mpfi  3.19    3.40              8.50        110
192           97          idi  3.01    3.40             23.00         68
193          109         mpfi  3.19    3.40              9.00         88
194          141         mpfi  3.78    3.15              9.50        114
195          141         mpfi  3.78    3.15              9.50        114
196          141         mpfi  3.78    3.15              9.50        114
197          141         mpfi  3.78    3.15              9.50        114
198          130         mpfi  3.62    3.15              7.50        162
199          130         mpfi  3.62    3.15              7.50        162
200          141         mpfi  3.78    3.15              9.50        114
201          141         mpfi  3.78    3.15              8.70        160
202          173         mpfi  3.58    2.87              8.80        134
203          145          idi  3.01    3.40             23.00        106
204          141         mpfi  3.78    3.15              9.50        114

     peak-rpm city-mpg highway-mpg  price
0        5000       21          27  13495
1        5000       21          27  16500
2        5000       19          26  16500
3        5500       24          30  13950
4        5500       18          22  17450
5        5500       19          25  15250
6        5500       19          25  17710
7        5500       19          25  18920
8        5500       17          20  23875
9        5500       16          22      ?
10       5800       23          29  16430
11       5800       23          29  16925
12       4250       21          28  20970
13       4250       21          28  21105
14       4250       20          25  24565
15       5400       16          22  30760
16       5400       16          22  41315
17       5400       15          20  36880
18       5100       47          53   5151
19       5400       38          43   6295
20       5400       38          43   6575
21       5500       37          41   5572
22       5500       31          38   6377
23       5500       24          30   7957
24       5500       31          38   6229
25       5500       31          38   6692
26       5500       31          38   7609
27       5500       24          30   8558
28       5000       24          30   8921
29       5000       19          24  12964
..        ...      ...         ...    ...
175      4200       27          32   9988
176      4200       27          32  10898
177      4200       27          32  11248
178      5200       20          24  16558
179      5200       19          24  15998
180      5200       20          24  15690
181      5200       19          24  15750
182      4800       37          46   7775
183      5250       27          34   7975
184      4800       37          46   7995
185      5250       27          34   8195
186      5250       27          34   8495
187      4500       37          42   9495
188      5500       26          32   9995
189      5500       24          29  11595
190      5500       24          29   9980
191      5500       19          24  13295
192      4500       33          38  13845
193      5500       25          31  12290
194      5400       23          28  12940
195      5400       23          28  13415
196      5400       24          28  15985
197      5400       24          28  16515
198      5100       17          22  18420
199      5100       17          22  18950
200      5400       23          28  16845
201      5300       19          25  19045
202      5500       18          23  21485
203      4800       26          27  22470
204      5400       19          25  22625

[205 rows x 26 columns]>

### Replace values

In [10]:
import numpy as np
df.replace("?", np.nan, inplace = True)
df.head(5)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

### Search for missing data

In [11]:
missing_data = df.isnull()
missing_data.head(5)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

### Calculate the mean of a column

In [13]:
avg_norm_loss = df["normalized-losses"].astype("float").mean(axis=0)
avg_norm_loss

122.0

### Count the values in a columns

In [14]:
df['num-of-doors'].value_counts()

four    114
two      89
Name: num-of-doors, dtype: int64

In [15]:
df['num-of-doors'].value_counts().idxmax()

'four'

In [29]:
drive_wheels_counts = df['drive-wheels'].value_counts().to_frame()
drive_wheels_counts.rename(columns={'drive-wheels': 'value_counts'}, inplace=True)
drive_wheels_counts.index.name = 'drive-wheels'
drive_wheels_counts

              value_counts
drive-wheels
fwd                    120
rwd                     76
4wd                      9

### Reset Index

In [16]:
df.reset_index(drop=True, inplace=True)
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

### Convert the data type of a column

In [17]:
df[["bore", "stroke"]] = df[["bore", "stroke"]].astype("float")

### Binning

In [37]:
bins = np.linspace(min(df["city-mpg"]), max(df["city-mpg"]), 4)
bins

array([13., 25., 37., 49.])

In [38]:
group_names = ['Low', 'Medium', 'High']
df['city-mpg-binned'] = pd.cut(df['city-mpg'], bins, labels=group_names, include_lowest=True ) # in which bin belongs to

### Dummy variable

In [24]:
dummy_variable_1 = pd.get_dummies(df["fuel-type"])
dummy_variable_1.head()

   diesel  gas
0       0    1
1       0    1
2       0    1
3       0    1
4       0    1

In [27]:
df = pd.concat([df, dummy_variable_1], axis=1) # icluded 3 times because the code was executed 3 times
#df.drop("fuel-type", axis = 1, inplace=True)
df.head()

,symboling,normalized-losses,make,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,...,peak-rpm,city-mpg,highway-mpg,price,diesel,gas,diesel,gas,diesel,gas
0,3,NaN,alfa-romero,std,two,convertible,rwd,front,88.6,168.8,...,5000,21,27,13495,0,1,0,1,0,1
1,3,NaN,alfa-romero,std,two,convertible,rwd,front,88.6,168.8,...,5000,21,27,16500,0,1,0,1,0,1
2,1,NaN,alfa-romero,std,two,hatchback,rwd,front,94.5,171.2,...,5000,19,26,16500,0,1,0,1,0,1
3,2,164,audi,std,four,sedan,fwd,front,99.8,176.6,...,5500,24,30,13950,0,1,0,1,0,1
4,2,164,audi,std,four,sedan,4wd,front,99.4,176.6,...,5500,18,22,17450,0,1,0,1,0,1

### Grouping data

In [30]:
df['drive-wheels'].unique()

array(['rwd', 'fwd', '4wd'], dtype=object)

In [35]:
df_group_one = df[['drive-wheels','city-mpg']]

In [36]:
df_group_one = df_group_one.groupby(['drive-wheels'],as_index=False).mean()
df_group_one

  drive-wheels   city-mpg
0          4wd  23.111111
1          fwd  28.316667
2          rwd  20.578947

### Correlation

In [39]:
df.corr()

,symboling,wheel-base,length,width,height,curb-weight,engine-size,stroke,compression-ratio,city-mpg,highway-mpg,diesel,gas,diesel,gas,diesel,gas
symboling,1.000000,-0.531954,-0.357612,-0.232919,-0.541038,-0.227691,-0.105790,-0.008965,-0.178515,-0.035823,0.034606,-0.194311,0.194311,-0.194311,0.194311,-0.194311,0.194311
wheel-base,-0.531954,1.000000,0.874587,0.795144,0.589435,0.776386,0.569329,0.161477,0.249786,-0.470414,-0.544082,0.308346,-0.308346,0.308346,-0.308346,0.308346,-0.308346
length,-0.357612,0.874587,1.000000,0.841118,0.491029,0.877728,0.683360,0.129739,0.158414,-0.670909,-0.704662,0.212679,-0.212679,0.212679,-0.212679,0.212679,-0.212679
width,-0.232919,0.795144,0.841118,1.000000,0.279210,0.867032,0.735433,0.182956,0.181129,-0.642704,-0.677218,0.233880,-0.233880,0.233880,-0.233880,0.233880,-0.233880
height,-0.541038,0.589435,0.491029,0.279210,1.000000,0.295572,0.067149,-0.056999,0.261214,-0.048640,-0.107358,0.284631,-0.284631,0.284631,-0.284631,0.284631,-0.284631
curb-weight,-0.227691,0.776386,0.877728,0.867032,0.295572,1.000000,0.850594,0.168929,0.151362,-0.757414,-0.797465,0.217275,-0.217275,0.217275,-0.217275,0.217275,-0.217275
engine-size,-0.105790,0.569329,0.683360,0.735433,0.067149,0.850594,1.000000,0.206675,0.028971,-0.653658,-0.677470,0.069594,-0.069594,0.069594,-0.069594,0.069594,-0.069594
stroke,-0.008965,0.161477,0.129739,0.182956,-0.056999,0.168929,0.206675,1.000000,0.186170,-0.042906,-0.044528,0.242081,-0.242081,0.242081,-0.242081,0.242081,-0.242081
compression-ratio,-0.178515,0.249786,0.158414,0.181129,0.261214,0.151362,0.028971,0.186170,1.000000,0.324701,0.265201,0.984356,-0.984356,0.984356,-0.984356,0.984356,-0.984356
city-mpg,-0.035823,-0.470414,-0.670909,-0.642704,-0.048640,-0.757414,-0.653658,-0.042906,0.324701,1.000000,0.971337,0.255963,-0.255963,0.255963,-0.255963,0.255963,-0.255963
highway-mpg,0.034606,-0.544082,-0.704662,-0.677218,-0.107358,-0.797465,-0.677470,-0.044528,0.265201,0.971337,1.000000,0.191392,-0.191392,0.191392,-0.191392,0.191392,-0.191392
diesel,-0.194311,0.308346,0.212679,0.233880,0.284631,0.217275,0.069594,0.242081,0.984356,0.255963,0.191392,1.000000,-1.000000,1.000000,-1.000000,1.000000,-1.000000
gas,0.194311,-0.308346,-0.212679,-0.233880,-0.284631,-0.217275,-0.069594,-0.242081,-0.984356,-0.255963,-0.191392,-1.000000,1.000000,-1.000000,1.000000,-1.000000,1.000000
diesel,-0.194311,0.308346,0.212679,0.233880,0.284631,0.217275,0.069594,0.242081,0.984356,0.255963,0.191392,1.000000,-1.000000,1.000000,-1.000000,1.000000,-1.000000
gas,0.194311,-0.308346,-0.212679,-0.233880,-0.284631,-0.217275,-0.069594,-0.242081,-0.984356,-0.255963,-0.191392,-1.000000,1.000000,-1.000000,1.000000,-1.000000,1.000000
diesel,-0.194311,0.308346,0.212679,0.233880,0.284631,0.217275,0.069594,0.242081,0.984356,0.255963,0.191392,1.000000,-1.000000,1.000000,-1.000000,1.000000,-1.000000
gas,0.194311,-0.308346,-0.212679,-0.233880,-0.284631,-0.217275,-0.069594,-0.242081,-0.984356,-0.255963,-0.191392,-1.000000,1.000000,-1.000000,1.000000,-1.000000,1.000000

In [42]:
from scipy import stats
pearson_coef, p_value = stats.pearsonr(df['city-mpg'], df['highway-mpg'])
print("The Pearson Correlation Coefficient is", pearson_coef, " with a P-value of P =", p_value)

The Pearson Correlation Coefficient is 0.9713370423425045  with a P-value of P = 1.2487392495857124e-128